

.nav-container{
    position: relative; /* 添加相对定位 */
    padding:  0 10px;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.logo-space{
    display: flex;
    align-items: center;
}
.logo-space>img{
    cursor: pointer;
    width: 40px;
}

.menu-container{
    position: relative; /* 添加相对定位 */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}




.left-menu{
    position: relative; /* 添加相对定位 */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menu-space{
    position: relative; /* 添加相对定位 */
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    z-index: 999;
    cursor: pointer;
    min-width: 100px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* 添加相对定位 */
}

.menu-item>p{
    font-weight: 400;
    transition: color 0.1s ease;
    font-size: 16px;
    color: rgba(0,0,0,0.85);
}

.underline {
    position: absolute;
    bottom: 6px;
    left: 50%; /* 将 sub-menu 水平偏移量设置为 50%，即居中对齐 */
    transform: translateX(-50%); /* 使用 translateX 实现水平居中对齐 */
    width: 80%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.75); /* 下划线颜色为黑色 */
    pointer-events: none; /* 防止下划线干扰鼠标事件 */
    opacity: 0; /* 初始时透明度为0，不显示下划线 */
    transition: opacity 0.2s ease; /* 添加渐变动画效果 */
    background-color: black;
}
.menu-item:active .underline {
    opacity: 1; /* 鼠标悬停时显示下划线 */
}
.active-menu .underline{
    opacity: 1; /* 鼠标悬停时显示下划线 */
}


.sub-menu {
    border-radius: 8px;
    z-index: 999;
    position: absolute;
    top: 100%; /* 设置 sub-menu 在 menu-item 下方显示 */
    left: 50%; /* 将 sub-menu 水平偏移量设置为 50%，即居中对齐 */
    transform: translateX(-50%); /* 使用 translateX 实现水平居中对齐 */
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.75); /* 下划线颜色为黑色 */
    transition: opacity 0.3s ease,height 0.3s ease,display 0.3s ease; /* 添加渐变动画效果 */
    overflow: hidden;

    background-color: #fdfdfd;
}

.sub-menu-item{
    transition: opacity 0.3s ease,display 0.3s ease;
    height: 44px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-menu-item:hover{
    background-color: #f7f7f7;
}
.sub-menu-item>p{
    transition: color 0.1s ease;
    font-size: 14px;
}







.right-menu{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}




.mobile_menu{
    display: none;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}

:deep(.el-menu--horizontal > .el-sub-menu .el-sub-menu__title:hover) {
    background-color: transparent;
    border-bottom: none;
    text-decoration: none;
}

:deep(.el-menu--vertical > .el-sub-menu .el-sub-menu__title:hover) {
    background-color: transparent;
    border-bottom: none;
    text-decoration: none;
}

.drawer-sub-menu > .el-menu-item {
    border-bottom: none;
    text-decoration: none;
}

.iconfont {
    font-size: 1.2rem;
    margin-right: 5px;
}

/*pc*/
@media screen and (min-width: 768px) {
    .pc-menu{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile_menu{
        display: none;
    }
}

/*手机*/
@media screen and (max-width: 768px) {
    .mobile_menu{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .flex_items-center{
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .drawer-container{
        width: 100%;
        height: 100%;
    }




    .pc-menu {
        display: none;
    }
}
